.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: #4b79a1;
  background: -webkit-linear-gradient(to top, #283e51, #0a2342);
  background: linear-gradient(to top, #283e51, #0a2342);
  background: -olinear-gradient(to top, #283e51, #0a2342);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head {
  font-family: 'Proza Libre', sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #fff;
  margin: 1.25rem 0;
}

.search{
  width: 400px;
}

.searchbar {
  height: 3rem;
  font-size: 1rem;
  padding-left: 0.625rem;
}

.card img {
  display: block;
  width: 40%;
}

.card {
  margin-bottom: 2rem;
}

.references {
  text-decoration: none;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  margin: 2rem;
}